.title{
    &--contents{
        text-align: center;
        letter-spacing: 0.05em;
        margin-bottom: 60px;
        span{
            display: block;
            font-size: $font-size-title-small;
            font-weight: normal;
            margin-top: 10px;
        }
    }
    &--large{
        font-size: $font-size-title;
        font-weight: bold;
        margin-bottom: 40px;
        text-align: center;
    }
    &--middle{
        text-align: center;
        font-size: $font-size-title-medium;
        font-weight: bold;
        margin-bottom: 40px;
    }
}

