

$color-base-blue: #116E92;
/*ページュ*/
$color-off-white: #FBFBF3;
$color-red : #B22222;
$color-yellow : #F4C430;
$color-black : #1A1818;
$color-light-gray : #F7F7F7;
$color-gray: #707070;
$color-dark-gray : #3B3B41;







