

$font-size-title: 3.0rem;
$font-size-title-medium: 2.4rem;
$font-size-title-small: 2.0rem;
$font-size-title-xsmall: 1.8rem;
$font-size-title-xxsmall: 1.6rem;
$font-size-title-xxxsmall: 1.4rem;

$font-size-title-sp: 2.4rem;


$font-size-input: 1.4rem;
$font-size-submit: 1.6rem;